html {
  background-color: rgb(236, 236, 236);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  color: rgb(44, 58, 77)
}

.calculator {
  background-color: rgb(172, 186, 202);
  border: 2px solid black;
  border-radius: 20px;
  width: 300px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}


.display-container {
  background-color:rgb(236, 236, 236);
  width: 300px;
  height: 80px;
  border: 1px solid black;
  border-radius: 8px;
  display: flex;
  align-items: flex-end;
  justify-content: end;
}

.display {
  margin-right: 20px;
  margin-bottom: 10px;
  font-size: 40px;
  color: rgb(44, 58, 77)
}

.buttons {
  display: flex;
  gap: 10px;
}

.numbers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.operators {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.number,
.operator {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border: 1px solid black;
  border-radius: 8px;
}

#equals {
  width: 112px;
  grid-column: auto / span 2;
}

.number {
  background-color: rgb(66, 66, 66);
  color:rgb(236, 236, 236)
}

.operator {
  background-color: rgb(55, 74, 97);
  color:rgb(236, 236, 236)
}

#delete,
#clear {
  background-color: rgb(136, 73, 73);
}
