html {
  background-color: rgb(236, 236, 236);
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Roboto, sans-serif;
}

h1 {
  color: rgb(44, 58, 77)
}

.calculator {
  background-color: rgb(172, 186, 202);
  border: 2px solid black;
  border-radius: 20px;
  width: 300px;
  padding: 20px;
  margin-bottom: 25vh;
  display: flex;
  flex-direction: column;
  gap: 24px;
}


.display-container {
  background-color:rgb(236, 236, 236);
  width: 296px;
  height: 92px;
  border: 2px solid black;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: end;
}

.top-display {
  margin-right: 28px;
  font-size: 20px;
}

.display {
  min-height: 52px;
  margin-right: 20px;
  margin-bottom: 10px;
  font-size: 44px;
  color: rgb(44, 58, 77)
}

.buttons {
  display: flex;
  gap: 14px;
}

.left-button-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 12px;
}

.right-button-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 12px;
}

.left-button,
.right-button,
.operator,
.del-clr {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 54px;
  border: 2px solid black;
  border-radius: 8px;
  color:rgb(236, 236, 236);
  font-size: 22px;
}

#equals {
  width: 112px;
  grid-column: auto / span 2;
}

.left-button {
  background-color: rgb(66, 66, 66);
}

.left-button-hover {
  background-color: rgb(80, 80, 80);
}

.operator,
.right-button {
  background-color: rgb(55, 74, 97);
}

.operator-hover {
  background-color: rgb(69, 88, 111);
}

.del-clr {
  background-color: rgb(136, 73, 73);
}

.del-clr-hover {
  background-color: rgb(150, 87, 87);
}
